html {
  background-color: #dddddd;
}

#root {
  background-color: #dddddd;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddddd;

}

p{
  line-height: 150%;
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #ff4675;
  background-color: #fff6f9;
  border-radius: 3px;
  margin: 0 2px;
  padding: 2px; 
  font-weight: 400;
  font-size: 0.8em;
  text-shadow: none;
  border: 1px solid #ccc;
}

/* Main Page CSS */
.dashboard {
  max-width: 1100px;
  margin: 50px auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 10%;
}

.contentPage {
  padding: 30px 60px 50px 60px;
  border: unset;
  box-shadow: unset;
  background-color: white;
}

.lightPadding {
  padding: 30px 50px 30px 50px;
}

.flexBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ui.segment.basicProfile {
  margin-top: 25px;
  margin-bottom: 25px;
}

.backButton {
  margin-top: 20px;
  margin-left: 20px;
}

/* Profile  */
p.profileSummary {
  font-size: 18px;
}

.ui.button.contactButton {
  background: green;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Dashboard TAB CSS  */
.ui.pointing.menu {
  justify-content: center;
  border: none;
  box-shadow: none;
  font-size: 17px;
}

.ui.pointing.menu .item {
  width: 200px;
  justify-content: center;
  font-weight: 700;
  background-color: #e0e0e0;
  letter-spacing: 1px;
}

.ui.pointing.menu .item:hover {
  opacity: 0.7;
}

.ui.pointing.menu .active.item {
  background: green;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
}

.ui.pointing.menu .active.item:hover {
  background: green;
  color: white;
}

.ui.bottom.attached.segment.active.tab {
  border: none;
  padding: unset;
}

.flexbox-row-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 940px;
  position:relative;
  left: 15px;
  justify-content: start;
  margin: 0 auto;
  /* border: 1px solid #333; */
}


/* ===== Project Card Component ==== */

code {
  font-family: Consolas, monospace;
  font-size: 0.8em;
}


.project-card--styling{
  border-radius: 10px;
}

.project-card--wrapper{
  margin: 0 20px 20px 0;
}

.project-card--wrapper:hover{
  box-shadow: -7px 7px 6px #e0e0e0;
}


.project-card__card-content--extra{
  font-size: 18px;
  color: #7E7E7E;
}

.project-card__card-content--title{
  font-size: 24px;
  color: #333;
}

.project-card__image{
  width:100%;
}


.highlight {
  color: #d0d0d0;
}

.projectFooter {
  margin-left: 50px;
  margin-right: 120px;
}

.pictureMargin {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ui.celled.table.dataTable {
  width: 600px;
  text-align: center;
}



/* sub-tab box */
.ui.segment.minHeight {
  min-height: 340px;
}

/* Interest & Experiment Header CSS */
.childHeader {
  margin-top: 0px;
  margin-bottom: -20px;
  color: #0652dd;
}

.deepPadding {
  padding-left: 5%;
}

a.ui.header {
  color: #0652dd;
}


.listItemStyling {
  margin-top: 20px;
}

.experiment-item-wrapper{
  max-width: 400px;
  margin-right: 20px;
  padding: 10px 0 20px;
  margin-left: 5%;
}

.marginTop {
  margin-top: 30px;
}

.flexboxCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.flexbox-row-experiment{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content:flex-start
}

.experiment-item-header{
  font-size: 20px;
}

.ui.center.aligned.header.headerMargin {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 26px;
}

.ui.left.aligned.header.headerMargin {
  margin-top: 50px;
  margin-bottom: 30px;
  /* font-size: 20px; */
}

/* Project page CSS */

.ui.segments.projectNotes .segment {
  padding: 40px auto;
  font-size: 1.1rem;
  /* border: unset;
  box-shadow: unset; */
}

.ui.segments.projectNotes {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  /* border:unset;
  box-shadow:unset; */
}

.projectPage {
  margin: 50px auto 50px auto;
  /* background-color: white; */
}

.ui.segment.navigationBar {
  width: 220px;
  font-size: smaller;
}

.ui.segment.navigationBar p {
  font-size: 14px;
  margin: 0 0 0 10px;
}

p ol.biggerSpace {
  line-height: 2;
}

.ui.left.rail.navRail {
  margin-right: 0;
  width: 230px;
}

.stickyContainer {
  position: sticky;
  top: 50px;
}

.subHeader {
  text-align: center;
  font-size: 1.3rem;
}

.pictureDetail {
  text-align: center;
  font-weight: bolder;
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: small;
}

.ui.image.largeImage {
  margin: 30px auto 30px auto;
}

.ui.floated.image.floatLeft {
  margin: 10px 40px 20px 20px;
  border-width: 3px;
  max-height: 300px;
}

.ui.floated.image.floatRight {
  margin: 10px 40px 20px 20px;
  border-width: 3px;
  max-height: 300px;
}

/* Component */
button {
  font-weight: 700;
}


@media (min-width: 300px) and (max-width: 841px) {
  .flexbox-row-projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 330px;
    margin: 0 auto;

  }
}

@media (min-width: 842px) and (max-width: 1085px) {
  .flexbox-row-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 700px;
    margin: 0 auto;
    position: relative;
    left: 50px;
  }
}



