html{
  background-color: #dddddd;
}

#root{
  background-color: #dddddd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Main Page CSS */
.dashboard {
  width: 900px;
  margin: 50px auto 50px auto;
  /* padding-left: 0px;
  padding-right: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.contentPage{
  padding: 30px 60px 50px 60px;
  border: unset;
  box-shadow: unset;
  background-color: white;
}

.lightPadding{
  padding: 30px 30px 30px 30px;
}

.flexBetween{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.ui.segment.basicProfile{
  margin-top: 25px;
  margin-bottom: 25px;
}

.backButton{
  margin-top: 20px;
  margin-left: 20px;
}

/* Profile  */
p.profileSummary{
  font-size: 18px;
}

.ui.button.contactButton{
  background: green;
  color: white;
  font-weight: 1200;
}



/* Dashboard TAB CSS  */
.ui.pointing.menu{
  justify-content: center;
  border: none;
  box-shadow: none;
}

.ui.pointing.menu .item{
  width: 200px;
  justify-content: center;
}

.ui.pointing.menu .item:hover{
  background: #fafafa;
}

.ui.pointing.menu .active.item{
  background: green;
  color: white;
}

.ui.pointing.menu .active.item:hover{
  background:green;
  color: white;
}

.ui.bottom.attached.segment.active.tab {
  border: none;
  padding: unset;
}

/* project photo cropped size
width: 900
height: 680

Canvas size
width: 1000
height: 680
*/


/* sub-tab box */
.ui.segment.minHeight{
  min-height: 340px;
}


/* Interest & Experiment Header CSS */
.childHeader{
  margin-top: 0px;
  margin-bottom: -20px;
  color: #0652DD;
}

.deepPadding{
  padding-left: 30px;
}

a.ui.header{
  color: #0652DD;
}

.ui.header.childHeaderItem{
  margin-top: 5px;
}

.marginTop{
  margin-top:30px;
}

.ui.center.aligned.header.headerMargin{
  margin-top:30px;
  margin-bottom: 20px;
}

.ui.left.aligned.header.headerMargin {
  margin-top:50px;
  margin-bottom: 30px;
}


/* Project page CSS */

.ui.segments.projectNotes{
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  border:unset;
  box-shadow:unset;
  background-color: white;
}

.projectPage{
  margin: 50px auto 50px auto;
  /* background-color: white; */
}

.ui.segment.navigationBar{
  width: 220px;
}

.ui.left.rail.navRail {
  margin-right: 0;
  width:230px;
}

.stickyContainer{
  position: sticky;
  top:50px;
}

.subHeader{
  text-align: center;
  font-size: 1.1rem;
}