body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
  width: 1100px;
  margin: 25px auto 300px auto;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contentList{
  margin: 50px auto;
}

.flex-even{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ui.segment.basicProfile{
  margin-top: 25px;
  margin-bottom: 25px;
}

.ui.pointing.menu{
  justify-content: center;
  border: none;
  box-shadow: none;
}

.ui.pointing.menu .item{
  width: 200px;
  justify-content: center;
}

.ui.pointing.menu .item:hover{
  background: #f0ece2;
}


.ui.pointing.menu .active.item{
  background: #c7b198;
  color: rgba(0,0,0,1.95);
}

.ui.pointing.menu .active.item:hover{
  background: #c7b198;
  color: rgba(0,0,0,1.95);
}

.ui.bottom.attached.segment.active.tab {
  border: none;
  padding: unset;
}

